{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    高俊斌的个人空间|登录
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block about %}
    <div class="header-banner" style="text-align: center; min-height: 257px; position: relative; margin-top: -30px; padding-top: 75px; margin-bottom: 20px; background-color: #4F5893;">
        <div class="container" style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;color: #fff;">
            <h1 style="font-size: 3em;margin-bottom: 12px;">～欢迎登录～</h1>
            <p style="font-weight: 300;line-height: 1.4;font-size: 1.5em;color: #B9BFE4;margin: 5px 0;">正确输入您的用户名和密码之后</p>
            <p style="font-weight: 300;line-height: 1.4;font-size: 1.5em;color: #B9BFE4;margin: 5px 0;">您将可以对博客文章进行评论</p>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-heading">登录</div>
                  <div class="panel-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in login_form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                        <input type="submit" value="登录" class="btn btn-primary" style="float: right">
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}